/*###########JUMBOTRON############ */

.jumbotron {
  background-color: #f05a26;
  text-align: center;
  color: #fff;
  padding: 0.5em;
}

.jumbotron h3 {
  font-family: 'Nixie One', cursive;
}

/*###########BODY############ */

body {
  background: #EFF0F4;
  font-family: 'Nixie One', cursive;
}

/*###########FOOTER############ */
#footer {
  text-align: center;
  color: #f05a26;
}

#footer:hover {
  text-decoration: none;
  font-size: 105%;
  cursor: pointer;
}

/*###########DOCUMENTING PAGES############ */
button {
  cursor: pointer;
}

.help-windows-container {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  font-size:1.5em;
  font-family: 'Nixie One', cursive;

}


#help-page-container {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  font-size:1.5em;
  font-family: 'Nixie One', cursive;

}

#index-container {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  font-size:1.5em;
  font-family: 'Nixie One', cursive;

}

#index-container:hover {
  text-decoration: none;


}

/*###########NEW TICKET PAGE############ */

#new-ticket {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  font-size:1.5em;
  font-family: 'Nixie One', cursive;

}

#new-ticket-container button {
  float:right;
}

#new-ticket h3 {
  font-family: 'Nixie One', cursive;
}

/*###########TICKET WINDOW PAGE############ */

#single-ticket {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  font-size:1.5em;
  font-family: 'Nixie One', cursive;
}

#single-ticket button {
  float:right;
}


/*###########CURRENT TICKETS PAGE############ */

#current-tickets {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    text-align:center;
    font-size:1.5em;
    font-family: 'Nixie One', cursive;

  }

#current-tickets h3  {
  text-align:center;
  font-family: 'Nixie One', cursive;
  font-weight: bold;
  font-size: 150%;
}

#ticket-list p {
  display: inline;
}
