{{outlet}}

<div class="help-windows-container">
  <p>
    Have you gone through all the steps on the Learn How to Program debugging lesson?
  </p>

  <br><br>
  {{#link-to 'other-pair'}}<button class="btn btn-primary">Yes >></button>{{/link-to}}
</div>
