{{outlet}}

<div class="help-windows-container">
  <p>
    Have you spent 15 minutes going through the problem documenting every step?
  </p>

  <br>
  {{#link-to 'other-pair'}}<button class="btn btn-primary">Yes >></button>{{/link-to}}
</div>
