{{outlet}}

<div id="other-pair-container">
  <p>
    Have you asked another pair for help?
  </p>

  <br>
  {{#link-to 'other-pair'}}<button class="btn btn-primary">Yes >></button>{{/link-to}}
</div>
