{{outlet}}

<div class="help-windows-container">
  <p>
    Have you asked another pair for help?
  </p>

  <br>
  {{#link-to 'documenting'}}<button class="btn btn-primary">Yes >></button>{{/link-to}}
</div>
