{{outlet}}


<div id="current-ticket-header">
  <h3>Current Tickets:</h3>
</div>

<div id="current-tickets">
  {{#each model as |help-ticket|}}
    <p> <em><b>Partners:</b></em>   {{help-ticket.name}} <br> <em><b>Issue:</b></em>  {{help-ticket.body}} </p>
    <button {{action "deleteTicket"}} class="btn btn-primary">Close ticket!</button>
    <br><br>
  {{/each}}
</div>

 <hr><hr>
 <div id="footer">
   {{#link-to 'statistics'}} View today's statistics {{/link-to}}
 </div>
